body {
  background-color: #6772a6;
}

@media (min-width: 800px) {
  h1 {
    font-size: 5rem;
    padding-bottom: 5%;
  }

  #second_section {
    padding-top: 13%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
  }
}

h1 {
  font-size: 12vw;
  margin-bottom: 50px;
}

h2 {
  padding-bottom: 4%;
}

img {
  width: 100%;
  /* padding-top: 9%; */
}

#selv_potraet {
  padding-top: 9%;
}
